@page "/numberflashcards"
<h3>Number Flash Cards</h3>
<h1 class="@GetNumberClass">@CurrentNumberDisplay</h1>
<button @onclick="Previous">Previous</button>
<button @onclick="Next">Next</button>
<br />
<button @onclick="Randomize">Randomize</button>
<br />
<button @onclick="Reset">Reset</button>
